/swing/haulmontTestTask_jdbc/target/
/javafx/local-map/target/
/javafx/introduction-of-changes/target/
/javafx/introduction-of-changes/target/
/spring/v3/test-webservice-rest/target/
/spring/v3/test-webservice-soap/target/